.payment-page {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Raleway;
}

.py-5 {
    padding-top: 0px !important;
    padding-bottom: 10px !important;
}

.rounded {
    border-radius: 1rem
}

.nav-pills .nav-link {
    color: #555
}

    .nav-pills .nav-link.active {
        color: white
    }

input[type="radio"] {
    margin-right: 5px
}

.bold {
    font-weight: bold
}

@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
    box-sizing: border-box;
}

.button {
    position: relative;
    padding: 2.5em 2.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 1.6em;
}

    .button.type1 {
        background-image: url("/assets/images/momo_icon.jpg");
        background-size: cover;
        opacity: 0.7;
    }

        .button.type1:hover {
            opacity: 1;
        }

        .button.type1.type1::after, .button.type1.type1::before {
            content: "";
            display: block;
            position: absolute;
            width: 20%;
            height: 20%;
            border: 4px solid;
            transition: all 0.6s ease;
            border-radius: 2px;
        }

        .button.type1.type1::after {
            bottom: 0;
            right: 0;
            border-top-color: transparent;
            border-left-color: transparent;
            border-bottom-color: #1eff00;
            border-right-color: #1eff00;
        }

        .button.type1.type1::before {
            top: 0;
            left: 0;
            border-bottom-color: transparent;
            border-right-color: transparent;
            border-top-color: #1eff00;
            border-left-color: #1eff00;
        }

        .button.type1.type1:hover:after, .button.type1.type1:hover:before {
            width: 100%;
            height: 100%;
        }

    .button.type2 {
        background-image: url("/assets/images/zalopay_icon.jpg");
        background-size: cover;
        opacity: 0.7;
    }

        .button.type2:hover {
            opacity: 1;
        }

        .button.type2.type2:after, .button.type2.type2:before {
            content: "";
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: chocolate;
            transition: all 0.3s ease;
            transform: scale(0.85);
        }

        .button.type2.type2:hover:before {
            top: 0;
            transform: scale(1);
        }

        .button.type2.type2:hover:after {
            transform: scale(1);
        }

    .button.type3 {
        background-image: url("/assets/images/airpay_icon.jpg");
        background-size: cover;
        opacity: 0.7;
    }

        .button.type3:hover {
            opacity: 1;
        }

        .button.type3.type3::after, .button.type3.type3::before {
            content: "";
            display: block;
            position: absolute;
            width: 20%;
            height: 20%;
            border: 4px solid;
            transition: all 0.6s ease;
            border-radius: 2px;
        }

        .button.type3.type3::after {
            bottom: 0;
            right: 0;
            border-top-color: transparent;
            border-left-color: transparent;
            border-bottom-color: #f51fc6;
            border-right-color: #f51fc6;
        }

        .button.type3.type3::before {
            top: 0;
            left: 0;
            border-bottom-color: transparent;
            border-right-color: transparent;
            border-top-color: #f51fc6;
            border-left-color: #f51fc6;
        }

        .button.type3.type3:hover:after, .button.type3.type3:hover:before {
            border-bottom-color: #f51fc6;
            border-right-color: #f51fc6;
            border-top-color: #f51fc6;
            border-left-color: #f51fc6;
            width: 100%;
            height: 100%;
        }

span.rth {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}

    span.rth a#return-home {
        font-size: 19px;
        letter-spacing: 1px;
        transform-style: preserve-3d;
        transform: translateZ(-25px);
        transition: transform .25s;
        font-family: 'Montserrat', sans-serif;
    }

        span.rth a#return-home:before,
        span.rth a#return-home:after {
            position: absolute;
            content: "Trở lại";
            height: 55px;
            width: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 5px solid rgb(17, 236, 236);
            box-sizing: border-box;
            border-radius: 5px;
        }

        span.rth a#return-home:before {
            color: rgb(39, 96, 182);
            background: rgb(226, 226, 65);
            transform: rotateY(0deg) translateZ(25px);
        }

        span.rth a#return-home:after {
            color: rgb(238, 61, 75);
            background: rgb(204, 243, 202);
            transform: rotateX(-90deg) translateZ(25px);
        }

        span.rth a#return-home:hover {
            transform: translateZ(-25px) rotateX(90deg);
        }

/* ------------------------- */
img#momo-QR-code,
img#zalopay-QR-code,
img#airpay-QR-code {
    margin-top: 20px;
    margin-bottom: 20px;
}

button.finish-payment {
    position: relative;
    padding: 8px 20px;
    display: block;
    text-decoration: none;
    width: fit-content;
    overflow: hidden;
    border-radius: 40px;
    margin: auto;
    border: none;
}

    button.finish-payment span {
        position: relative;
        color: rgb(9, 45, 248);
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 2px;
        z-index: 1;
    }

    button.finish-payment .liquid {
        position: absolute;
        top: -80px;
        left: 0;
        width: 210px;
        height: 210px;
        background: #07fcd3;
        box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
        transition: .5s;
    }

        button.finish-payment .liquid::after,
        button.finish-payment .liquid::before {
            content: '';
            width: 200%;
            height: 200%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -75%);
            background: rgb(185, 238, 88);
        }

        button.finish-payment .liquid::before {
            border-radius: 45%;
            background: rgb(226, 214, 45);
            animation: animate 5s linear infinite;
        }

        button.finish-payment .liquid::after {
            border-radius: 40%;
            background: rgb(188, 240, 128);
            animation: animate 10s linear infinite;
        }

    button.finish-payment:hover .liquid {
        top: -120px;
    }

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

.payment {
    background: url("/assets/images/background_payment.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    padding-top: 50px;
    padding-bottom: 30px;
    min-height: 657px !important;
}

    .payment .card {
        margin-bottom: 30px;
        border: none;
        background-size: auto;
        -webkit-box-shadow: 0px 1px 2px 1px rgba(252, 6, 6, 0.877);
        -moz-box-shadow: 0px 1px 2px 1px rgba(36, 224, 45, 0.699);
        box-shadow: 0px 1px 2px 1px rgba(11, 11, 201, 0.22);
    }

    .payment .card-header {
        background-color: rgb(101, 216, 231);
        border-bottom: 1px solid #5d9ee9b7;
    }

    .payment h3 {
        font-size: 25px;
    }

    .payment h5 {
        font-size: 15px;
        line-height: 26px;
        color: #3d405c;
        margin: 0px 0px 15px 0px;
        font-family: "Circular Std Medium";
    }

    .payment .text-dark {
        color: #3d405c !important;
    }

.pay {
    padding: 10px 50px;
    border-radius: 8px;
    color: rgb(71, 64, 134);
    background-color: rgb(34, 230, 77);
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 3px 3px 0 0 #fb014e, calc(-1 * 3px) calc(-1 * 3px) 0 0 #69f0f7;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #9280d3;
    display: block;
    transition: 0.3s;
}

    .overlay a:hover, .overlay a:focus {
        color: #bbff00;
    }

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

        .overlay a {
            font-size: 20px
        }

        .overlay .closebtn {
            font-size: 40px;
            top: 15px;
            right: 300px;
        }
}

/* ------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");

.body-btn-payment {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 350px;
}

.btn-payment {
    background-color: #ffffff;
    display: flex;
    width: 460px;
    height: 98px;
    position: relative;
    border-radius: 6px;
    transition: 0.4s ease-in-out;
}

    .btn-payment:before {
        width: 200vw;
        position: absolute;
        top: 0;
        left: -100vw;
        height: 100%;
        content: "";
    }

    .btn-payment:hover {
        transform: scale(1.03);
        width: 70px;
    }

    .btn-payment.left-side {
        width: 100%;
    }

.left-side {
    background-color: #5de2a3;
    width: 130px;
    height: 120px;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    flex-shrink: 0;
    overflow: hidden;
}

.right-side {
    width: 75%;
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
    border-radius: 4px;
    background: rgb(43, 230, 243);
}

    .right-side:hover {
        background-color: #f7f9f9;
    }

.new {
    font-size: 23px;
    font-weight: 300;
    font-family: "Lexend Deca", sans-serif;
    margin-left: 20px;
}

.card-payment {
    width: 70px;
    height: 46px;
    cursor: pointer;
    background-color: #c7ffbc;
    border-radius: 6px;
    position: absolute;
    display: flex;
    z-index: 1;
    top: 30px;
    flex-direction: column;
    align-items: center;
}

.card-payment-line {
    width: 65px;
    height: 13px;
    background-color: #80ea69;
    border-radius: 2px;
    margin-top: 7px;
}

@media only screen and (max-width: 480px) {
    .btn-payment {
        transform: scale(0.7);
    }

    .right-side:hover {
        transform: scale(0.74);
    }
}

.btn-pay {
    width: 8px;
    height: 8px;
    background-color: #379e1f;
    box-shadow: 0 -10px 0 0 #26850e, 0 10px 0 0 #56be3e;
    border-radius: 50%;
    margin-top: 5px;
    transform: rotate(90deg);
    margin: 10px 0 0 -30px;
}

.btn-payment:hover .card-payment {
    animation: slide-top 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}

.btn-payment:hover .post {
    animation: slide-post 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-70px) rotate(90deg);
        transform: translateY(-70px) rotate(90deg);
    }

    60% {
        -webkit-transform: translateY(-70px) rotate(90deg);
        transform: translateY(-70px) rotate(90deg);
    }

    100% {
        -webkit-transform: translateY(-8px) rotate(90deg);
        transform: translateY(-8px) rotate(90deg);
    }
}

.post {
    width: 62px;
    height: 75px;
    background-color: #dddde0;
    position: absolute;
    z-index: 11;
    bottom: 10px;
    top: 110px;
    border-radius: 6px;
    overflow: hidden;
}

.post-line {
    width: 47px;
    height: 9px;
    background-color: #545354;
    position: absolute;
    border-radius: 0px 0px 3px 3px;
    right: 8px;
    top: 8px;
}

    .post-line:before {
        content: "";
        position: absolute;
        width: 47px;
        height: 9px;
        background-color: #757375;
        top: -8px;
    }

.screen {
    width: 47px;
    height: 23px;
    background-color: #ffffff;
    position: absolute;
    top: 22px;
    right: 8px;
    border-radius: 3px;
}

.numbers {
    width: 12px;
    height: 12px;
    background-color: #838183;
    box-shadow: 0 -18px 0 0 #838183, 0 18px 0 0 #838183;
    border-radius: 2px;
    position: absolute;
    transform: rotate(90deg);
    left: 25px;
    top: 52px;
}

.numbers-line2 {
    width: 12px;
    height: 12px;
    background-color: #aaa9ab;
    box-shadow: 0 -18px 0 0 #aaa9ab, 0 18px 0 0 #aaa9ab;
    border-radius: 2px;
    position: absolute;
    transform: rotate(90deg);
    left: 25px;
    top: 68px;
}

@keyframes slide-post {
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-70px);
        transform: translateY(-70px);
    }
}

.vnd {
    position: absolute;
    font-size: 10px;
    font-family: "Lexend Deca", sans-serif;
    width: 100%;
    left: 0;
    top: 0;
    color: blue;
    background: #e4ced5;
    text-align: center;
    top: 5px;
}

.btn-payment:hover .vnd {
    animation: fade-in-fwd 0.3s 1s backwards;
}

@keyframes fade-in-fwd {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.button-three {
    position: relative;
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 23px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

    .button-three:hover {
        background: #3e97f7;
        box-shadow: 0px 2px 10px 5px #7eb3cf;
        color: rgb(46, 45, 45);
    }

    .button-three:after {
        content: "";
        background: #f1cf46;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }

    .button-three:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }